 body{
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
} 

/* header */

.top-bar{
    background-color: #4c8930;
    height: 50px;
    position: relative;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
}

.top-news{
    color: #ffffff;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.top-intranet{
    color: #ffffff;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.topbar-links > a:focus{
    color: #212121;
    text-decoration: none;
}

.topbar-links > a:hover {
    color: #212121;
    text-decoration: none;
}
.language-bar{
    float: right;
    margin-top: 6px;
}

.language-button{
    width: 150px;
    text-align: left;
}

.btn-primary {
    color: #212121;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4c8930;
    border-color: #fff;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #4c8930;
    border-color: #fff;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #4c8930;
    border-color: #fff;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4c8930;
    border-color: #fff;
}
/* top-bar-mobile */
.menu-img{
    margin: 16px;
}

.language-button{
    text-align: left;
    margin-right: 16px;
}

.language-bar-xs{
    margin-top: 8px;
    margin-left: 60px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 80px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4c8930;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 4px 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* logo & nav-bar */

.nav-bar{
    margin: 30px 0 30px 0;
}

.logo{
    height: auto;

    margin-right: 30px;
}

.navbar-links{
    display: inline-block;
}

.navbar-links > a:focus {
    color: #4c8930;
    text-decoration: none;
}

.navbar-links > a:hover {
    color: #4c8930;
    text-decoration: none;
}
.nav-text{
    color: #999999;
    margin-left: 20px;
    font-family: "Open Sans",  sans-serif;
}

.btn-default {
    color: #fff;
    background-color: #4c8930;
    border-color: #4c8930;
    font-family: "Open Sans",  sans-serif;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #4c8930;
    background-color: #fff;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
}

.btn-default.focus, .btn-default:focus {
    color: #4c8930;
    background-color: #fff;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
}

.btn-default:hover {
    color: #4c8930;
    background-color: transparent;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
}

.logo-md{
    width: 100px;
}
    /* col-sm */

.logo-sm{
    width: 100px;
    margin-left: 40px;
}

.nav-text-sm{
    color: #999999;
    margin-left: 6px;
    font-size: 8px;
    font-family: "Open Sans",  sans-serif;
}

    /* logo-mobile */
.logo-xs{
    text-align: center;
    margin-bottom: 30px;
}

/* Jumbotron */

.banner{
    background-image: url(../img/4L7C5828.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 500px;
}

.banner-overlay{
    background: rgba(33,33,33,0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.banner-content{
    text-align: center;
    margin-top: 200px;
}

.banner-text{
    color: #fff;
    font-size: 60px;
    font-family: "Open Sans",  sans-serif;
    font-weight: 300;
    font-style: normal;
}

.banner-button{
    font-size: 20px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.jumbotron-button > .btn-default:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-family: "Open Sans", sans-serif;
}

/* jumbotron-mobile */
.banner-xs{
    background-image: url(../img/4L7C5828.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 200px;
}

.banner-text-xs{
    color: #fff;
    font-size: 20px;
    font-family: "Open Sans",  sans-serif;
    font-weight: 300;
    font-style: normal;
}

.banner-overlay-xs{
    background: rgba(33,33,33,0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.banner-content-xs{
    text-align: center;
    margin-top: 60px;
}

/* 3 column image banners */

.column3{
    margin-top: 50px;
}

#sisallontuotantoa{
    background-image: url(../img/sisallontuotantoa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 222px;
    width: 360px;

}

#markkinoinninautomaation-mvv{
    background-image: url(../img/markkinoinninautomaation-mvv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 222px;
    width: 360px;
}

#yini{
    background-image: url(../img/yini.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 222px;
    width: 360px;
}

.columnPicture{
    background: rgba(33,33,33,0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;

}

.column-text{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

    /* col-md */
#sisallontuotantoa-md{
    background-image: url(../img/sisallontuotantoa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 185px;
    width: 300px;
    text-align: center;

}

#markkinoinninautomaation-mvv-md{
    background-image: url(../img/markkinoinninautomaation-mvv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 185px;
    width: 300px;
    text-align: center;
}

#yini-md{
    background-image: url(../img/yini.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 185px;
    width: 300px;
    text-align: center;
}

    .columnPicture-md{
    background: rgba(33,33,33,0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.column-text-md{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

    /* col-sm */
#sisallontuotantoa-sm{
    background-image: url(../img/sisallontuotantoa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 129.5px;
    width: 210px;
    text-align: center;

}

#markkinoinninautomaation-mvv-sm{
    background-image: url(../img/markkinoinninautomaation-mvv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 129.5px;
    width: 210px;
    text-align: center;
}

#yini-sm{
    background-image: url(../img/yini.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 129.5px;
    width: 210px;
    text-align: center;
}

.columnPicture-sm{
    background: rgba(33,33,33,0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.column-text-sm{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

/* mobile */
#sisallontuotantoa-xs{
    background-image: url(../img/sisallontuotantoa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 111px;
    text-align: center;
    margin-top: 20px;

}

#markkinoinninautomaation-mvv-xs{
    background-image: url(../img/markkinoinninautomaation-mvv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 
    height: 111px;

    text-align: center;
    margin-top: 20px;
}

#yini-xs{
    background-image: url(../img/yini.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 

    height: 111px;
    text-align: center;
    margin-top: 20px;
}

.columnPicture-xs{
    background: rgba(33,33,33,0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    margin-top: 30px;
    text-align: center;

}

.column-text-xs{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.mobile-column{
    text-align: middle;
}

/* Company in numbers */

.overall {
    position: relative;
}

.overall > img{
    max-width: 100%;
    height: auto;
}

.inline{
    display: inline-block;
    margin-bottom: 70px;
    margin-left: 10px;
}

.companyNumbers{
    margin: 60px 120px 60px 120px;
}

.numbers{
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.numbers-description{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

    /* col-md */
.numPic-md{
    width: 50px;
}

.numbers-md{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.numbers-description-md{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

}

/* col-sm */
.numPic-sm{
    width: 30px;
    margin-top: 50px;
}

.numbers-sm{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.numbers-description-sm{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

}

/* mobile */
.companyNumbers-xs{
        margin: 10px 60px 10px 60px;
        height: 200px;
}

.numPic-xs{
    width: 30px;
    margin-top: 50px;
}

.numbers-xs{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.numbers-description-xs{
    font-size: 6px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.inline-xs{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* Latest news */

.news-content{
    margin: 30px;
}

.latest-news{
    background-color: #eceeef;
    padding-bottom: 60px;
    z-index: -1;
}

.font-header{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 30px 0;
}

.news-card{
    background-color: #fff;
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
    height: 200px;
}

h6{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

h2{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

/* References */

.references{
   padding-bottom: 60px;
   border-bottom: 1px solid #cccccc;
}

.references-card{
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.references-borderbottom{

    height: 120px;
    margin: 30px 0 30px 0;
}

.references-text{
    border-top: 1px solid #e0e0e0;
    padding: 10px 20px 10px 20px;
    height: 150px;
}

p{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.card > img{
    width: 100%;
    height: auto;
}

/* references-mobile */
.references-text-xs{
    border-top: 1px solid #e0e0e0;
    padding: 10px 20px 10px 20px;
    height: 160px;
}

.card-title-xs{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.references-text-xs > .card-text-xs{
    font-size: 8px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* Subscribe to newsletter */

.newsletter{
    margin-bottom: 30px;
}

.subscribe-center{
    text-align: center;
    margin: 20px;
}

.email-inputBox{
    width: 300px;
    height: 32px;
}

.btn-success {
    color: #fff;
    background-color: #4c8930;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #4c8930;
    background-color: transparent;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.btn-success:hover {
    color: #4c8930;
    background-color: transparent;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.btn-success.focus, .btn-success:focus {
    color: #4c8930;
    background-color: transparent;
    border-color: #4c8930;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* mobile */
.emailbox-mobile{
    border-color: #fff;
    margin-bottom: 20px;
    width: 100%;
}

/* footer */

.footer{
    background-color: #000000;
    height: 300px;
    padding-top: 30px;
}

.contact-inline{
    display: inline-block;
}

.contact-button{
    vertical-align: middle;
    margin-bottom: 30px;
    margin-left: 60px;
}

.footer-text{
    color: #fff;
    margin-right: 10px;
    margin-top: 16px;
    text-align: right;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.footer-text-sm{
    color: #fff;
    margin-right: 10px;
    margin-top: 16px;
    text-align: right;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.social-logo{
    text-align: right;
    display: inline-block;
    margin-top:50px;
    margin-right: 10px;
}

.footer-line1{
    text-align: right;
}

.footer-line2{
    text-align: right;
}

h3{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.footer-h4{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h5{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.footer-line1 > a:hover {
    color: #4c8930;
    text-decoration: none;
}

.footer-line1 > a:active {
    color: #4c8930;
    text-decoration: none;
}

.footer-line1 > a:focus {
    color: #4c8930;
    text-decoration: none;
}

/* mobile footer */
.contact-text-xs{
    text-align: center;
}

.contact-button-xs{
    margin-top: 20px;
}

.footer-line2-xs{
    text-align: right;
    margin-right: 20px;
}
