<!DOCTYPE html>

<html lang="en">
<head>
    <title>Liana Technologies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/css/liana.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- header -->

    <div class="top-bar">

        <div class="row">
            <div class="container">
                <div class="dropdown language-bar">
                    <button class="btn btn-primary dropdown-toggle language-button" type="button" data-toggle="dropdown">In English
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Suomi</a></li>
                        <li><a href="#">Chinese</a></li>
                    </ul>
                </div> <!-- /dropdown -->
                <div class="topbar-links">
                <a href="#" class="top-intranet">Intranet</a>
                <a href="#" class="top-news">News</a>
                </div>
            </div><!-- container -->
        </div><!-- /row -->

    </div><!-- /top-bar -->

    <div class="row nav-bar">
        <div class="container">
        <div class="col-md-6">
            <a href="#"><img src="../statics/img/lianalogo.png" alt="Liana Logo" class="logo"></a>
            <div class="navbar-links">
            <a href="#" class="nav-text">Company</a>
            <a href="#" class="nav-text">Products</a>
            <a href="#" class="nav-text">Contact Us</a>
            </div>
        </div><!-- /col-6 -->
        <div class="col-md-3"></div>
        <div class="col-md-3">

            <div class="form-group col-md-8">
            <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default col-md-4">Search</button>

        </div><!-- /col-3 -->
        </div><!-- container -->
    </div>

<!-- Jumbotron -->

    <div class="banner">
        <div class="banner-overlay">
            <div class="banner-content">
                <div class="banner-text">Software fueling digital marketing</div>
                    <div>
                        <button type="button" class="btn btn-default banner-button">Learn more</button>
                    </div>
                </div><!-- banner-text -->
            </div>
        </div><!-- banner-overlay -->
        
    </div>

<!-- 3 column image banners -->

    <div class="container column3">

        <div class="col-md-4">
            <div id="sisallontuotantoa">
                <div class="columnPicture">
                    <div class="column-text">Company</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="markkinoinninautomaation-mvv">
                <div class="columnPicture">
                    <div class="column-text">Products</div>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="yini">
            <div class="columnPicture">
                <div class="column-text">Contact us</div>
                </div>
            </div>
        </div>

    </div><!-- column3 -->

<!-- Company in numbers -->

<div class="container">
    <div class="companyNumbers">
        <div class="col-md-4 overall">
            <img src="../statics/img/Business.png" alt="business" class="inline">
            <div class="company-text inline">
                <div class="numbers">3000</div>
                <div class="numbers-description">Clients</div>
            </div>
        </div>
        <div class="col-md-4 overall">
            <img src="../statics/img/Face.png" alt="face" class="inline">
            <div class="company-text inline">
                <div class="numbers">180</div>
                <div class="numbers-description">Employees</div>
            </div>
        </div>
        <div class="col-md-4 overall">
            <img src="../statics/img/Public.png" alt="public" class="inline">
            <div class="company-text inline">
                <div class="numbers">10000</div>
                <div class="numbers-description">Daily users</div>
            </div>
        </div>
    </div>
</div>


<!-- Latest news -->

    <div class="latest-news">
        <div class="container">
            <div class="font-header">Latest news</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-inverse card-primary mb-3 news-card">
                        <div class="card-block">
                            <div class="news-content">
                            <h6>27.07.2016</h6>
                            <h2>Liana Technologies and Encode Solutions merge to create unique mobile solutions</h2>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-4 -->
                <div class="col-md-4">
                    <div class="card card-inverse card-primary mb-3 news-card">
                        <div class="card-block">
                            <div class="news-content">
                            <h6>28.01.2016</h6>
                            <h2>From a local startup to a global player: Liana Technologies among the forerunners of digital marketing technology</h2>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-4 -->
                <div class="col-md-4">
                    <div class="card card-inverse card-primary mb-3 news-card">
                        <div class="card-block">
                            <div class="news-content">
                            <h6>02.07.2015</h6>
                            <h2>Liana Technologies Hong Kong launched a series of digital marketing events in June</h2>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-4 -->
            </div>
        </div>
    </div>


<!-- References -->
    <div class="references">

    <div class="container">

        <div class="font-header">References</div>
        <div class="col-md-3">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer1.png" alt="Bosch">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">Robert Bosch</h4>
                            <p class="card-text">Bosch is a multinational engineering and electornics company.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
        <div class="col-md-3">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer2.png" alt="The Body Shop">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">The Body Shop</h4>
                            <p class="card-text">The Body Shop is a global beauty barnd and it has more than 3,000 stores in more than 60 countries.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
        <div class="col-md-3">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer3.png" alt="Lapland Hotels">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">Lapland Hotels</h4>
                            <p class="card-text">Lapland Hotels is the largest and the most diverse hotel chain in Lapland.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
        <div class="col-md-3">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer4.png" alt="IKEA">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">IKEA</h4>
                            <p class="card-text">IKEA is a multinational furniture store.</br></br></p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
    </div>
    </div>

<!-- Subscribe to newsletter -->
    <div class="container newsletter">
        <div class="font-header">
            Subscribe to our newsletter
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">        
                <p>Follow our story and get the latest promotonial news about our products and events.</p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="subscribe-center">
            <input type="email" class="email-inputBox"placeholder="    Your email address" />
            <button type="submit" class="btn btn-success">Subscribe</button>
        </div>
    </div>

<!-- footer -->

    <div class=footer>    
        <div class="container">
            <div class="col-md-6">
                <h3>Liana Technologies</h3>
                <div class="ContactUs-Text contact-inline">
                    <h4>Sales and inquiries</h4>
                    <h5>Email: sales@lianatech.com</h5>
                    <h5>Phone: +358 10 387 7053</h5>
                </div>
                <div class="contact-inline">
                    <button type="button" class="btn btn-success contact-button contact-inline">Contact us</button>
                </div>
            </div><!-- /col-md-6 -->

            <div class="col-md-6">
                <div class="footer-line1">
                    <a href="#" class="footer-text">Company</a>
                    <a href="#" class="footer-text">Products</a>
                    <a href="#" class="footer-text">Contact us</a>
                    <a href="#" class="footer-text">News</a>
                    <a href="#" class="footer-text">Intranet</a>
                </div>
                <div class="footer-line2">
                    <a href="#"><img src="../statics/img/facebook.png" class="social-logo" /></a>
                    <a href="#"><img src="../statics/img/twitter.png" class="social-logo" /></a>
                    <a href="#"><img src="../statics/img/linkedin.png" class="social-logo" /></a>
                </div>
                
                
                
                
            </div>
        </div>
    </div>

<script src="../statics/js/liana.js"></script>
</body>



</html>