<!DOCTYPE html>

<html lang="en">
<head>
    <title>Liana Technologies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/css/liana.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- header -->

    <div class="top-bar">

            <div class="container">
                <div class="dropdown language-bar hidden-xs">
                    <button class="btn btn-primary dropdown-toggle language-button" type="button" data-toggle="dropdown">In English
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Suomi</a></li>
                        <li><a href="#">Chinese</a></li>
                    </ul>
                </div> <!-- /dropdown -->
                <div class="topbar-links hidden-xs">
                <a href="#" class="top-intranet">Intranet</a>
                <a href="#" class="top-news">News</a>
                </div>
            </div><!-- container -->

        <!-- mobile -->
            <div class="col-xs-6 hidden-md hidden-lg hidden-xl hidden-sm">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">News</a>
                    <a href="#">Intranet</a>
                    <a href="#">Company</a>
                    <a href="#">Products</a>
                    <a href="#">Contact Us</a>
                </div>
                <div id="main">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                </div>
            </div>

            <div class="col-xs-6 hidden-md hidden-lg hidden-xl hidden-sm">
                <div class="dropdown language-bar-xs">
                    <button class="btn btn-primary dropdown-toggle language-button-xs" type="button" data-toggle="dropdown">In English
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Suomi</a></li>
                        <li><a href="#">Chinese</a></li>
                    </ul>
                </div> <!-- /dropdown -->
            </div>
        <!-- /mobile -->

    </div><!-- /top-bar -->

    <div class="row nav-bar">
        <div class="container">

        <!-- col-lg col-xl -->
        <div class="col-lg-6 col-xl-6 hidden-xs hidden-sm hidden-md">
            <a href="#"><img src="../statics/img/lianalogo.png" alt="Liana Logo" class="logo"></a>   
            <div class="navbar-links">
            <a href="#" class="nav-text">Company</a>
            <a href="#" class="nav-text">Products</a>
            <a href="#" class="nav-text">Contact Us</a>
            </div>
        </div><!-- /col-6 -->
        <div class="col-lg-3 col-xl-3 hidden-xs hidden-sm hidden-md"></div>
        <div class="col-lg-3 col-xl-3 hidden-xs hidden-sm hidden-md">

            <div class="form-group col-lg-8 col-xl-8 hidden-xs hidden-sm hidden-md">
            <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default col-lg-4 col-xl-4 hidden-sm hidden-xs hidden-md">Search</button>
        </div><!-- /col-3 -->         
        <!-- /col-lg col-xl -->

        <!-- col-md -->
        <div class="col-md-6 hidden-sm hidden-xs hidden-lg hidden-xl">
            <a href="#"><img src="../statics/img/lianalogo.png" alt="Liana Logo" class="logo-md"></a>   
            <div class="navbar-links">
            <a href="#" class="nav-text">Company</a>
            <a href="#" class="nav-text">Products</a>
            <a href="#" class="nav-text">Contact Us</a>
            </div>
        </div><!-- /col-6 -->
        <div class="col-md-3 hidden-xs hidden-sm hidden-lg hidden-xl"></div>
        <div class="col-md-3 hidden-xs hidden-sm hidden-lg hidden-xl">

            <div class="form-group col-md-8 hidden-xs hidden-sm hidden-lg hidden-xl">
            <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default col-md-4 hidden-xs hidden-sm hidden-lg hidden-xl">Search</button>
        </div><!-- /col-3 -->
        <!-- /col-md -->


        <!-- col-sm -->
        <div class="col-sm-6 hidden-xs hidden-md hidden-lg hidden-xl">
            <a href="#"><img src="../statics/img/lianalogo.png" alt="Liana Logo" class="logo-sm"></a>   
            <div class="navbar-links-sm">
            <a href="#" class="nav-text-sm">Company</a>
            <a href="#" class="nav-text-sm">Products</a>
            <a href="#" class="nav-text-sm">Contact Us</a>
            </div>
        </div><!-- /col-6 -->
        <div class="col-sm-6 hidden-xs hidden-md hidden-lg hidden-xl">
            <div class="form-group col-sm-8 hidden-xs hidden-md hidden-lg hidden-xl">
            <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default col-sm-4 hidden-xs hidden-md hidden-lg hidden-xl">Search</button>
        </div><!-- /col-sm-6 -->
        <!-- /col-sm -->

        <!-- mobile -->
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl logo-xs">
            <a href="#"><img src="../statics/img/lianalogo.png" alt="Liana Logo"></a>
        </div>
        <div class="form-group col-xs-8 hidden-sm hidden-md hidden-lg hidden-xl">
            <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default col-xs-4 hidden-sm hidden-md hidden-lg hidden-xl">Search</button>
        <!-- /mobile -->


        </div><!-- container -->
    </div>

<!-- Jumbotron -->

    <div class="banner hidden-xs">
        <div class="banner-overlay">
            <div class="banner-content">
                <div class="banner-text">Software fueling digital marketing</div>
                    <div class="jumbotron-button">
                        <button type="button" class="btn btn-default banner-button">Learn more</button>
                    </div>
                </div><!-- banner-text -->
            </div>
        </div><!-- banner-overlay -->
        
    </div>

    <div class="banner-xs col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="banner-overlay-xs">
            <div class="banner-content-xs">
                <div class="banner-text-xs">Software fueling digital marketing</div>
                    <div class="jumbotron-button">
                        <button type="button" class="btn btn-default banner-button">Learn more</button>
                    </div>
                </div><!-- banner-text -->
            </div>
        </div><!-- banner-overlay -->
        
    </div>

<!-- 3 column image banners -->

<div class="column3">
    <div class="container">

        <!-- col-xl col-lg -->
        <div class="col-xl-4 col-lg-4 hidden-xs hidden-sm hidden-md">
            <div id="sisallontuotantoa">
                <div class="columnPicture">
                    <div class="column-text">Company</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 hidden-xs hidden-sm hidden-md">
            <div id="markkinoinninautomaation-mvv">
                <div class="columnPicture">
                    <div class="column-text">Products</div>
                    </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 hidden-xs hidden-sm hidden-md">
            <div id="yini">
            <div class="columnPicture">
                <div class="column-text">Contact us</div>
                </div>
            </div>
        </div>

        <!-- /col-xl col-lg -->

        <!-- col-md -->
        <div class="col-md-4 hidden-xl hidden-lg hidden-xs hidden-sm">
            <div id="sisallontuotantoa-md">
                <div class="columnPicture-md">
                    <div class="column-text-md">Company</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden-xl hidden-lg hidden-xs hidden-sm">
            <div id="markkinoinninautomaation-mvv-md">
                <div class="columnPicture-md">
                    <div class="column-text-md">Products</div>
                    </div>
            </div>
        </div>
        <div class="col-md-4 hidden-xl hidden-lg hidden-xs hidden-sm">
            <div id="yini-md">
            <div class="columnPicture-md">
                <div class="column-text-md">Contact us</div>
                </div>
            </div>
        </div>
        <!-- /col-md -->

        <!-- col-sm -->
        <div class="col-sm-4 hidden-xs hidden-xl hidden-lg hidden-md">
            <div id="sisallontuotantoa-sm">
                <div class="columnPicture">
                    <div class="column-text-sm">Company</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 hidden-xs hidden-xl hidden-lg hidden-md">
            <div id="markkinoinninautomaation-mvv-sm">
                <div class="columnPicture">
                    <div class="column-text-sm">Products</div>
                    </div>
            </div>
        </div>
        <div class="col-sm-4 hidden-xs hidden-xl hidden-lg hidden-md">
            <div id="yini-sm">
            <div class="columnPicture">
                <div class="column-text-sm">Contact us</div>
                </div>
            </div>
        </div>
        <!-- /col-sm -->
        <!-- mobile -->
        <div class="mobile-column col-xs-12 hidden-sm hidden-xl hidden-lg hidden-md">
            <div id="sisallontuotantoa-xs">
                <div class="columnPicture-xs">
                    <div class="column-text-xs">Company</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 hidden-sm hidden-xl hidden-lg hidden-md">
            <div id="markkinoinninautomaation-mvv-xs">
                <div class="columnPicture-xs">
                    <div class="column-text-xs">Products</div>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 hidden-sm hidden-xl hidden-lg hidden-md">
            <div id="yini-xs">
            <div class="columnPicture-xs">
                <div class="column-text-xs">Contact us</div>
                </div>
            </div>
        </div>
        <!-- /mobile -->

    </div><!-- column3 -->
</div>

<!-- Company in numbers -->

<div class="container">

    <!-- col-xl col-lg -->
    <div class="companyNumbers hidden-xs">
        <div class="col-xl-4 col-lg-4 hidden-xs hidden-sm hidden-md overall">
            <img src="../statics/img/Business.png" alt="business" class="inline">
            <div class="company-text inline">
                <div class="numbers">3000</div>
                <div class="numbers-description">Clients</div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 hidden-xs hidden-sm hidden-md overall">
            <img src="../statics/img/Face.png" alt="face" class="inline">
            <div class="company-text inline">
                <div class="numbers">180</div>
                <div class="numbers-description">Employees</div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 hidden-xs hidden-sm hidden-md overall">
            <img src="../statics/img/Public.png" alt="public" class="inline">
            <div class="company-text inline">
                <div class="numbers">10000</div>
                <div class="numbers-description">Daily users</div>
            </div>
        </div>
    </div>
    <!-- /col-xl col-lg -->

    <!-- col-md -->
    <div class="companyNumbers hidden-xs">
        <div class="col-md-4 hidden-xl hidden-lg hidden-sm hidden-xs overall-md">
            <img src="../statics/img/Business.png" alt="business" class="inline numPic-md">
            <div class="company-text inline">
                <div class="numbers-md">3000</div>
                <div class="numbers-description-md">Clients</div>
            </div>
        </div>
        <div class="col-md-4 hidden-xl hidden-lg hidden-sm hidden-xs overall-md">
            <img src="../statics/img/Face.png" alt="face" class="inline numPic-md">
            <div class="company-text inline">
                <div class="numbers-md">180</div>
                <div class="numbers-description-md">Employees</div>
            </div>
        </div>
        <div class="col-md-4 hidden-xl hidden-lg hidden-sm hidden-xs overall-md">
            <img src="../statics/img/Public.png" alt="public" class="inline numPic-md">
            <div class="company-text inline">
                <div class="numbers-md">10000</div>
                <div class="numbers-description-md">Daily users</div>
            </div>
        </div>
    </div>
    <!-- /col-md -->

    <!-- col-sm -->
    <div class="companyNumbers hidden-xs">
        <div class="col-sm-4 hidden-xl hidden-lg hidden-md hidden-xs overall-md">
            <img src="../statics/img/Business.png" alt="business" class="inline numPic-sm">
            <div class="company-text inline">
                <div class="numbers-sm">3000</div>
                <div class="numbers-description-sm">Clients</div>
            </div>
        </div>
        <div class="col-sm-4 hidden-xl hidden-lg hidden-md hidden-xs overall-md">
            <img src="../statics/img/Face.png" alt="face" class="inline numPic-sm">
            <div class="company-text inline">
                <div class="numbers-sm">180</div>
                <div class="numbers-description-sm">Employees</div>
            </div>
        </div>
        <div class="col-sm-4 hidden-xl hidden-lg hidden-md hidden-xs overall-md">
            <img src="../statics/img/Public.png" alt="public" class="inline numPic-sm">
            <div class="company-text inline">
                <div class="numbers-sm">10000</div>
                <div class="numbers-description-sm">Daily users</div>
            </div>
        </div>
    </div>
    <!-- /col-sm -->

    <!-- mobile -->
    <div class="companyNumbers-xs">
        <div class="col-xs-4 hidden-xl hidden-lg hidden-md hidden-sm overall-md">
            <img src="../statics/img/Business.png" alt="business" class="inline-xs numPic-xs">
        </div>
        <div class="col-xs-4 hidden-xl hidden-lg hidden-md hidden-sm overall-md">
            <img src="../statics/img/Face.png" alt="face" class="inline-xs numPic-xs">

        </div>
        <div class="col-xs-4 hidden-xl hidden-lg hidden-md hidden-sm overall-md">
            <img src="../statics/img/Public.png" alt="public" class="inline-xs numPic-xs">

        </div>
        <div class="col-xs-4 hidden-xl hidden-lg hidden-md hidden-sm overall-md">
                 <div class="company-text">
                    <div class="numbers-xs">3000</div>
                     <div class="numbers-description-xs">Clients</div>
                </div>
        </div>
         <div class="col-xs-4 hidden-xl hidden-lg hidden-md hidden-sm overall-md">
                <div class="company-text">
                    <div class="numbers-xs">180</div>
                    <div class="numbers-description-xs">Employees</div>
                </div>
        </div>
        <div class="col-xs-4 hidden-xl hidden-lg hidden-md hidden-sm overall-md">
                <div class="company-text">
                    <div class="numbers-xs">10000</div>
                    <div class="numbers-description-xs">Daily users</div>
                </div>
         </div>

    </div>


    <!-- /mobile -->

</div><!-- container -->


<!-- Latest news -->

    <div class="latest-news">
        <div class="container">
            <div class="font-header">Latest news</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-inverse card-primary mb-3 news-card">
                        <div class="card-block">
                            <div class="news-content">
                            <h6>27.07.2016</h6>
                            <h2>Liana Technologies and Encode Solutions merge to create unique mobile solutions</h2>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-4 -->
                <div class="col-md-4">
                    <div class="card card-inverse card-primary mb-3 news-card">
                        <div class="card-block">
                            <div class="news-content">
                            <h6>28.01.2016</h6>
                            <h2>From a local startup to a global player: Liana Technologies among the forerunners of digital marketing technology</h2>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-4 -->
                <div class="col-md-4">
                    <div class="card card-inverse card-primary mb-3 news-card">
                        <div class="card-block">
                            <div class="news-content">
                            <h6>02.07.2015</h6>
                            <h2>Liana Technologies Hong Kong launched a series of digital marketing events in June</h2>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-4 -->
            </div>
        </div>
    </div>


<!-- References -->
    <div class="references">

    <div class="container">

        <div class="font-header">References</div>
        <div class="col-md-3 col-xl-3 col-lg-3 hidden-sm hidden-xs">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer1.png" alt="Bosch">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">Robert Bosch</h4>
                            <p class="card-text">Bosch is a multinational engineering and electornics company.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
        <div class="col-md-3 col-xl-3 col-lg-3 hidden-sm hidden-xs">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer2.png" alt="The Body Shop">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">The Body Shop</h4>
                            <p class="card-text">The Body Shop is a global beauty barnd and it has more than 3,000 stores in more than 60 countries.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
        <div class="col-md-3 col-xl-3 col-lg-3 hidden-sm hidden-xs">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer3.png" alt="Lapland Hotels">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">Lapland Hotels</h4>
                            <p class="card-text">Lapland Hotels is the largest and the most diverse hotel chain in Lapland.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->
        <div class="col-md-3 col-xl-3 col-lg-3 hidden-sm hidden-xs">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer4.png" alt="IKEA">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">IKEA</h4>
                            <p class="card-text">IKEA is a multinational furniture store.</br></br></p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-3 -->


        <!-- col-sm -->
        <div class="col-sm-6 hidden-xs hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer1.png" alt="Bosch">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">Robert Bosch</h4>
                            <p class="card-text">Bosch is a multinational engineering and electornics company.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-6 -->
        <div class="col-sm-6 hidden-xs hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer2.png" alt="The Body Shop">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">The Body Shop</h4>
                            <p class="card-text">The Body Shop is a global beauty barnd and it has more than 3,000 stores in more than 60 countries.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-6 -->
        <div class="col-sm-6 hidden-xs hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer3.png" alt="Lapland Hotels">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">Lapland Hotels</h4>
                            <p class="card-text">Lapland Hotels is the largest and the most diverse hotel chain in Lapland.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-6 -->
        <div class="col-sm-6 hidden-xs hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer4.png" alt="IKEA">
                    <div class="card-block">
                        <div class="references-text">
                            <h4 class="card-title">IKEA</h4>
                            <p class="card-text">IKEA is a multinational furniture store.</br></br></p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-md-6 -->
        <!-- /col-sm -->

         <!-- mobile-->
        <div class="col-xs-6 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer1.png" alt="Bosch">
                    <div class="card-block">
                        <div class="references-text-xs">
                            <span class="card-title-xs">Robert Bosch</span>
                            <p class="card-text-xs">Bosch is a multinational engineering and electornics company.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-xs-6 -->
        <div class="col-xs-6 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer2.png" alt="The Body Shop">
                    <div class="card-block">
                        <div class="references-text-xs">
                            <span class="card-title-xs">The Body Shop</span>
                            <p class="card-text-xs">The Body Shop is a global beauty barnd and it has more than 3,000 stores in more than 60 countries.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-xs-6 -->
        <div class="col-xs-6 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer3.png" alt="Lapland Hotels">
                    <div class="card-block">
                        <div class="references-text-xs">
                            <span class="card-title-xs">Lapland Hotels</span>
                            <p class="card-text-xs">Lapland Hotels is the largest and the most diverse hotel chain in Lapland.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-xs-6 -->
        <div class="col-xs-6 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="card-deck references-card">
                <div class="card">
                    <img class="card-img-top references-borderbottom" src="../statics/img/Layer4.png" alt="IKEA">
                    <div class="card-block">
                        <div class="references-text-xs">
                            <span class="card-title-xs">IKEA</span>
                            <p class="card-text-xs">IKEA is a multinational furniture store.</br></br></p>
                        </div>
                    </div>
                </div>
            </div><!-- /card-deck -->
        </div><!-- /col-xs-6 -->
        <!-- /mobile -->

    </div>
    </div>

<!-- Subscribe to newsletter -->
    <div class="container newsletter">
        <div class="font-header">
            Subscribe to our newsletter
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">        
                <p>Follow our story and get the latest promotonial news about our products and events.</p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="subscribe-center hidden-xs">
            <input type="email" class="email-inputBox"placeholder="    Your email address" />
            <button type="submit" class="btn btn-success">Subscribe</button>
        </div>

        <!-- mobile -->
        <div class="subscribe-center hidden-sm hidden-md hidden-lg hidden-xl">
            <input type="email" class="email-inputBox emailbox-mobile col-xs-12"placeholder="Your email address" />
            <button type="submit" class="btn btn-success col-xs-12">Subscribe</button>
        </div>
        <!-- /mobile -->
    </div>

<!-- footer -->

    <div class=footer>    
        <div class="container">
            <div class="col-md-6 col-lg-6 col-xl-6 hidden-sm hidden-xs">
                <h3>Liana Technologies</h3>
                <div class="ContactUs-Text contact-inline">
                    <span class="footer-h4">Sales and inquiries</span>
                    <h5>Email: sales@lianatech.com</h5>
                    <h5>Phone: +358 10 387 7053</h5>
                </div>
                <div class="contact-inline">
                    <button type="button" class="btn btn-success contact-button contact-inline">Contact us</button>
                </div>
            </div><!-- /col-md-6 -->

            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="footer-line1">
                    <a href="#" class="footer-text">Company</a>
                    <a href="#" class="footer-text">Products</a>
                    <a href="#" class="footer-text">Contact us</a>
                    <a href="#" class="footer-text">News</a>
                    <a href="#" class="footer-text">Intranet</a>
                </div>
                <div class="footer-line2">
                    <a href="#"><img src="../statics/img/facebook.png" class="social-logo" /></a>
                    <a href="#"><img src="../statics/img/twitter.png" class="social-logo" /></a>
                    <a href="#"><img src="../statics/img/linkedin.png" class="social-logo" /></a>
                </div>
            </div><!-- /col-md-6 -->

            <!-- col-sm -->
            <div class="col-sm-6 hidden-xl hidden-lg hidden-md hidden-xs">
                <h3>Liana Technologies</h3>
                <div class="ContactUs-Text contact-inline">
                    <span class="footer-h4">Sales and inquiries</span>
                    <h5>Email: sales@lianatech.com</h5>
                    <h5>Phone: +358 10 387 7053</h5>
                </div>
                <div class="contact-inline">
                    <button type="button" class="btn btn-success contact-button contact-inline">Contact us</button>
                </div>
            </div><!-- /col-md-6 -->

            <div class="col-sm-6 hidden-xl hidden-lg hidden-md hidden-xs">
                <div class="footer-line1">
                    <a href="#" class="footer-text-sm">Company</a>
                    <a href="#" class="footer-text-sm">Products</a>
                    <a href="#" class="footer-text-sm">Contact us</a>
                    <a href="#" class="footer-text-sm">News</a>
                    <a href="#" class="footer-text-sm">Intranet</a>
                </div>
                <div class="footer-line2">
                    <a href="#"><img src="../statics/img/facebook.png" class="social-logo" /></a>
                    <a href="#"><img src="../statics/img/twitter.png" class="social-logo" /></a>
                    <a href="#"><img src="../statics/img/linkedin.png" class="social-logo" /></a>
                </div>
            </div><!-- /col-md-6 -->
            <!-- /col-sm -->

            <!-- mobile -->
            <div class="col-xs-12 hidden-xl hidden-lg hidden-md hidden-sm">
                <h3>Liana Technologies</h3>
                <div class="ContactUs-text-xs">
                    <span class="footer-h4">Sales and inquiries</span>
                    <h5>Email: sales@lianatech.com</h5>
                    <h5>Phone: +358 10 387 7053</h5>
                </div>
                <button type="button" class="btn btn-success contact-button-xs">Contact us</button>

            </div><!-- /col-xs-12 -->
            <div class="footer-line2-xs hidden-xl hidden-lg hidden-md hidden-sm">
                    <a href="#"><img src="../statics/img/facebook.png" class="social-logo-xs" /></a>
                    <a href="#"><img src="../statics/img/twitter.png" class="social-logo-xs" /></a>
                    <a href="#"><img src="../statics/img/linkedin.png" class="social-logo-xs" /></a>
            </div>
            <!-- /mobile -->

        </div><!-- /container -->
    </div><!-- /footer -->

<script src="../statics/js/liana.js"></script>
</body>



</html>